@use "@/styles/variables.scss" as *;

:export {
  menuBg: $menu-bg;
  menuText: $menu-text;
  menuHover: $menu-hover;
  menuActiveText: $menu-active-text;
  subMenuBg: $submenu-bg;
  subMenuHover: $submenu-hover;
  subMenuActiveText: $submenu-active-text;
  sideBarWidth: $sidebar-width;
}
